body {
  background-color: #5d8f94;
}

h1 {
  osition: relative;
  text-align: center;
  color: white;
  text-shadow: 2px 2px 4px #4b4fde;
  font-family: papyrus;
  font-size: 40px;
}

/*img {
  width: 200px;
  height: 200px;
}*/

#corona {
  width: 100%;
}

#shot {
  width: 100%;
}

article {
  position: relative;
}

#firstfigure {
  position: relative;
  margin: auto;
  width: 36%;
}

#secondfigure {
  position: absolute;
  top: -20px;
  right: -20px;
  width: 180px;
}

aside,
footer {
  position: fixed;
  font-family: "Lucida Console", "Courier New", monospace;
  font-size: x-large;
}

aside {
  bottom: 40px;
}

footer {
  bottom: 0;
}
